.bigelow-hero {
    width: 100%;

    .hero-container {
        position: relative;
        height: 500px;
        @media screen and (max-width: $break-small) {
            height: 350px;
        }
        overflow: hidden;

        .image-container {
            height: 100%;
        }
        .bigelow-hero-img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;

            transition: opacity 0.6s;
            opacity: 0;

            &.active {
                opacity: 1;
            }
        }

        .title-container {
            font-family: 'Josefin Sans', sans-serif;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 2;
            text-align: center;
            margin: 0 auto;
            
            h1 {
                width: 100%;
                position: absolute;
                font-weight: bold;
                color: white;
                font-size: 6em;
                @media screen and (max-width: $break-small) {
                    font-size: 4.4em;
                }
                transition: color 0.6s;

                &:hover {
                    color: $light-red;
                }
            }
        }

    }

}