.bigelow-boy {
    text-align: center;
    padding: 20px 30px;
    background-color: $light-red;
    border: 5px solid $red;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 10px;

    img {
        margin: 0 auto;
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }

    p {

    }

    .word {
        font-size: 1.5em;
        font-weight: bold;
    }
}