.bigelow-navbar {
    background-color: $seafoam2;
    padding: 5px;

    ul {
        padding: 0px;
        margin: 0.6rem 0px;
        display: flex;
        justify-content: space-around;

        li {
            display: block;

            a {
                font-family: 'Oswald', sans-serif;
                font-size: 1.2em;
                color: $seafoam3;
                text-decoration: none;

                &.selected {
                    color: $red;
                    font-weight: bold;
                }
            }
        }
    }
}