.bigelow-navbar {
    background-color: $light-offwhite;
    padding: 5px;

    ul {
        padding: 0px;
        display: flex;
        justify-content: space-around;

        li {
            display: block;
        }
    }
}