.bigelow-poker {

    .title {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .profit-gain {
        color: green;
    }

    .profit-loss {
        color: red;
    }

    .poker-game-headline {
        align-items: center;
    }

    .poker-dropdown {
        padding-right: 0;
    }
}