$light-offwhite: #e6e3e1;
$creamsicle: #f6ceb3;
$seafoam1: #e1f7fa;
$seafoam2: #bee9f0;
$seafoam3: #059cb1;

$yellow: #ffd780;
$red: #ed5548;

$red-yellow-gradient1: repeating-linear-gradient(30deg, $yellow, $red);
$red-yellow-gradient2: repeating-linear-gradient(30deg, $red, $yellow);